/* CUSTOM SASS VARIABLES */

//
// Colors
// --------------------------------------------------
$brand-primary: 			#47B39D;
$green-light: 				#D9F5BE;
$sidebar-bg-color: 			#22202B;
$sidebar-text-color: 		#ffffff;

$nav-link-padding: 			10px 15px;
$nav-link-hover-bg: 		#383745;
$nav-disabled-link-color: 	#383745;
$cursor-disabled: 			not-allowed;
$link-color: 				$brand-primary;