@import "customvariable";
@import "forms";
@import "navbar";
@import "navs";
@import "panels";
@import "sidebar";
@import "content";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size: 13px;
    font-weight: normal;
}

.central{
	padding-left: 250px;
	border: 2px solid red;
}

.sidebar-wrapper{
	width: 250px;
	position: fixed;
	top: 55px;
	left: 0;
	height: 100%;
	background-color: $sidebar-bg-color;
}

.content-wrapper{
	padding: 20px;
	width: 100%;
}