body {
  background: red;
  font-size: 14px;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }

body {
  font-size: 14px;
  font-weight: normal;
  color: green;
  font-weight: lighter; }
