//
// Content main center
// --------------------------------------------------
#content{
    //color: #ddd;
    //padding: 0 0 0 300px;

    .form-search-users-container{
        margin-left: 320px;
        padding: 0;

        .search {
            height: 100px;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
            font-size: 20px;
        }
    }

    span{
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }

    .attr{
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }
}