//
// Forms
// --------------------------------------------------
.form-control{
    border: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    box-sizing: border-box;

    &:focus{
        border-width: 2px;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        box-sizing: border-box;
    }
}

.form-group{
    display: flex;
}

$border-radius-base:    15px;
$input-bg:              #F3F3F3;
$input-border:          transparent;
$input-border-focus:    $brand-primary;