//
// Navs
// --------------------------------------------------
$nav-link-hover-bg:     transparent;
.navbar-top{
    .nav{

        > li {
        border-top: 3px solid transparent;

            &:hover,
            &:focus{
                border-top: 3px solid $brand-primary;
            }

            > a {

            }
        }
    }
}