//
// Panels
// --------------------------------------------------
$panel-default-border: transparent;
$panel-default-heading-bg: transparent;

.login{
    padding: 5% 0 0 0;
}
.panel{
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.panel-heading{
    border: none;
    text-align: center;
}